body{
  background-color:beige;
}

h1{
  text-align:center;
  text-decoration:underline;
  font-size:2.5aboveem;
  color:blue;
  font-family:"Georgia";
  font-style:italic;
  border-style:groove;
  border-color:blue;
  border-radius:50px;
  background-color:AliceBlue;
}
section{
  border-radius:1px solid black;
 text-decoration:underline;
  margin-right:750px;
}
footer{
  text-align:center;
}

li{
  display:inline;
  margin-left:5px;
}
header p{
  text-align:center;
}

section h5{
  text-align:center;
  display:block
}
section li{
  display:block;
  text-decoration:underline;
}
aside{
  margin-left:800px;
  margin-right:100px;
  margin-top:5px;
}
article{
  float:left;
  background-color:Gainsboro;
  margin-left:150px;
}
p.presentation{
  border:1px solid black;
  padding:5px;
  background-color:AliceBlue;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  margin-right:75px;
}
li a {
  display:inline-block;
  text-align:center;
  background-color:LightGrey;
  position:relative;
  margin-top:50px;
}
li a:visited{
  color:#0066cc;
}
li a:hover {
   background-color: AliceBlue;
}
li a.active{
  background-color:limeGreen;
}
footer.p4{
  texte-align:right;
}
section.musique{
  background-color:beige;
  float:left;
  margin-left:50px;
}
h4.titm{
  text-decoration:underline;
  text-align:center;
}
article.mus{
  background-color:AliceBlue;
  margin-right:50px;
  float:left;
  text-align:left;
}
a.Mayu{
  text-decoration:none;
}
a.Mayu:visited{
  color:cadetblue;
}
a.Mayu:hover{
  text-decoration:underline;
  color:black;
}
section.jeux{
  background-color:beige;
  float:right;
  margin-right:50px;
}
article.jeux{
  background-color:AliceBlue;
  margin-right:50px;
  float:left;
  text-align:left;
}
h4.jeux{
  text-align:center;
}
footer.p4{
  padding:0;
}
a.katawa{
  text-decoration:none;
}
a.katawa:visited{
  color:cadetblue;
}
a.katawa:hover{
  text-decoration:underline;
  color:black;
}

section.lecture{
  background-color:beige;
  float:left;
  margin-right:50px;
}
h4.livre{
  text-align:center;
}
article.lect{
  background-color:AliceBlue;
  margin-right:50px;
  float:left;
  text-align:left;
}
section.parcours{
  background-color:beige;
  display:inline;
  margin-left:50px;
}
h4.parcours{
  text-align:center;
}
.lycee{
  margin-left:475px;
}
article.parcours{
  background-color:AliceBlue;
  margin-left:290px;
  float:left;
  text-align:left;
}
.mtn{
  text-align:center;
  margin-left:-700px;
}
p.situ{
  margin-left:-500px;
  background-color:AliceBlue;
}
.map{
  margin-left:350px;
}
section.projet{
  background-color:beige;
  text-decoration:none;
  display:inline;
  margin-left:50px;
}
h4.projet{
  text-align:center;
}
article.projet{
  background-color:AliceBlue;
  margin-left:350px;
  margin-right:350px;
  text-decoration:none;
  float:inherit;
  text-align:left;
}
.sakura{
  margin-left:-150px;
}